# renren define ignores
.DS_Store
products/
.classpath
Thumbs.db
local.properties
.idea
*.iml
/ideas/
# android studio ignores
captures/
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
**/build
/captures
*.swp
